.card-list {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 9rem;


    .card_list_header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 130px;
        margin-top: 50px;

        .back_home {
            cursor: pointer;
            border-radius: 50%;
            background-color: #b1afaf;
            font-size: 5px;
            padding: 15px 15px;

            &:hover {
                background-color: #6b6a6a;
            }
        }
    }

    h3 {
        color: #565656;
        font-size: 2rem;
    }
}