header {

    display: flex;
    justify-content: space-around;
    align-items: center;


    background-color: #000051;
    height: 130px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .icon-cart,
    .icon-login,
    .menu-icon {
        background-color: #32325c;
        padding: 10px;
        font-size: 15px;
        color: white;
        border-radius: 50px;
        margin-left: 5px;

        &:hover {
            background-color: #acaaaa;
            cursor: pointer;
        }
    }

    .cart {
        display: flex;




        .icon-cart {
            position: relative;

            span {
                position: absolute;
                top: -10px;
                right: 30px;
                background-color: #f95d5d;
                color: white;
                padding: 2px 5px;
                border-radius: 50%;
            }
        }
    }




    .logo img {
        height: 180px;

    }
}