 .forgot-password {



     .forgot-password-conteaner {


         border-radius: 10px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         padding: 25px;

         direction: rtl;
         display: flex;
         justify-content: center;
         align-items: center;

         flex-direction: column;

         margin: 60px 150px;
         max-height: 550px;

         label,
         p {
             color: #5c5a5a;
             font-size: 15px;
         }

         .forgot-password-header {


             h4 {
                 color: #1c2a66;
                 font-size: 25px;
                 font-weight: bold;
             }
         }

         .forgot-password-content {

             width: 250px;
             margin-top: 80px;

             .form-group {

                 >input {
                     padding: 10px;
                     border: 1px solid #ccc;
                     border-radius: 5px;
                     width: 100%;
                     margin-bottom: 5px;
                 }




             }

             button {
                 margin-top: 10px;
                 padding: 10px;
                 border: none;
                 border-radius: 5px;
                 background-color: #1c2a66;
                 color: white;
                 cursor: pointer;
                 width: 100%;

                 &:hover {
                     background-color: #606786;
                 }
             }
         }

     }


 }