.reset-password {
    .reset-password-conteaner {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 25px;
        direction: rtl;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 60px 150px;
        max-height: 650px;

        label,
        p {
            color: #5c5a5a;
            font-size: 15px;
        }

        .reset-password-header {
            h1 {
                color: #1c2a66;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
            }
        }

        .reset-password-content {
            width: 280px;
            margin-top: 50px;

            .form-group {
                margin-bottom: 20px;

                input {
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    width: 100%;
                    margin-top: 5px;
                }
            }

            button {
                margin-top: 10px;
                padding: 10px;
                border: none;
                border-radius: 5px;
                background-color: #1c2a66;
                color: white;
                cursor: pointer;
                width: 100%;
                font-size: 16px;

                &:hover {
                    background-color: #606786;
                }
            }
        }
    }
}