.back_home {
    position: absolute;
    right: 0;
    background-color: #eceff1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #cfd8dc;
    }

    svg {
        color: #333;
    }
}
