.footer {

    background-color: #fff;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    z-index: 20;


    .footerContent {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000051;
        color: white;
        padding: 10px 20px;
        border-radius: 12px;
        width: 90%;
        max-width: 600px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        direction: rtl; // Traditional Arabic layout
    }

    .footerPrice {
        p {
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 4px;

            span {
                font-size: 1rem;
            }
        }
    }

    .footerTitle {
        display: flex;
        align-items: center;
        gap: 15px;

        p {
            margin: 0;
            font-size: 1.1rem;
            font-weight: 500;
        }

        .quantity {
            background-color: rgba(137, 153, 223, 0.2);
            padding: 5px 12px;
            border-radius: 10px;
            min-width: 30px;
            text-align: center;

            span {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }
}