.Product-Item {
    display: inline-flex;

    background-color: #ffffff;
    gap: 15px;
    border-radius: 20px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;

    .product-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 5px;

        .title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            direction: rtl;

            p {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        button {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;
            background-color: #000051;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 8px 12px;
            cursor: pointer;
            font-size: 17px;
            font-weight: bold;

            &:hover {
                background-color: #3333aa;
            }
        }
    }

    .product-image {
        img {
            border-radius: 10px;
            max-height: 100%;
            width: 150px;
        }
    }
}
