$color-label: #960405;
.UpdateProduct-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .content {
        background-color: wheat;
        padding: 30px;
        border-radius: 12px;
        max-width: 670px;
        max-height: 100vh;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

        .product-form {
            .add-product {
                display: flex;
                gap: 100px;
                align-items: center;
                justify-content: center;

                .add-image {
                    .imagePreview {
                        width: 200px;
                        height: 200px;
                        border-radius: 20px;
                        margin-top: 10px;
                    }
                    > label {
                        font-weight: bold;
                        color: $color-label;
                        display: inline-block;
                        padding: 40px 20px;
                        border: 1px dashed $color-label;
                        border-radius: 8px;
                        text-align: center;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover {
                            background: #f5f5f5;
                            border-color: #555;
                        }
                    }
                    .image {
                        display: none;
                    }
                }
                .info {
                    > label {
                        font-weight: bold;
                        color: $color-label;
                    }

                    > input {
                        padding: 5px 10px;
                        font-size: 18px;
                        border-radius: 10px;
                    }
                }
            }
            .btn {
                display: inline-flex;
                gap: 50px;
                margin-top: 5px;
                button {
                    padding: 5px 20px;
                    font-size: 18px;
                    font-weight: bold;
                    background-color: #ffa500;
                    border: none;
                    border-radius: 10px;

                    &:hover {
                        background-color: antiquewhite;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}
